.home-link {
    color: #448899;
    font-style: normal;
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 100vw;
  }

/* Make the image responsive */
.container .home {
    width: 100%;
    height: auto;
  }

.search_btn {
    background-color: #448899;
}

/* Style the button and place it in the middle of the container/image */
.container .searchbar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

a {
    padding: 3px;
    text-decoration: none;
}

body {
    display:flex;
    align-content: center;
    border: solid green 2px;
    margin:0;
}


#container2 {
    display:flex;
    max-width: 1200px;
    width: 100vw;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    border: solid pink 2px;
    margin: auto;
}

.imgbox {
    height: 242px;
    width: 270px;
    position: relative;
    border: solid gray 3px;
    margin: 10px;
}

.myphoto {
    height: 197px;
    width: 270px;
    object-fit: cover;
}

.p1 {
    position: absolute;
    width:100%;
    top: 158px; /* 距離圖片下緣的距離 */
    color: rgb(255, 255, 255);
    text-align: left;
    background-color: rgba(0,0,0,0.6); /* 背景顏色及透明度 */
    padding: 9px 5%; /* 文字框內的間距 */
    margin: 0;
    box-sizing: border-box;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.textbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid orange 3px; */
    padding: 9px 5%;
}

.slide-bar {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border: solid pink 2px;
    width: 1200px;
    margin: auto;
}

#container1 {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    flex-grow: 1;
    width: 80vw;
}

.mrt {
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: grab;
    margin: 10px;
}